body {
      color:rgb(62, 6, 114);
      background: black;
      margin:  opx;
   }

header {
    border-bottom: solid 2px rgb(4, 4, 4);
    padding: 20px;
    font-size: 32px;
    color: rgb(79, 9, 75);
}

section {
	background: rgb(137, 91, 186);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}